spring:
  application:
    name: zap-procurement
  
  datasource:
    url: jdbc:mysql://localhost:3306/zap_procurement?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
#        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        type:
          preferred_uuid_jdbc_type: binary
    defer-datasource-initialization: true
  
  # sql:
  #   init:
  #     mode: always
  #     data-locations: classpath:data/complete-sample-data.sql
  #     continue-on-error: true
  
  security:
    user:
      name: admin
      password: admin123

server:
  port: 8080
  servlet:
    context-path: /api

jwt:
  secret: ZAP-Procurement-Secret-Key-2024-Very-Long-Secret-For-JWT-Token-Generation
  expiration: 86400000

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
